@page "/fetch-books"
@inject HttpClient Http
@using BookManagement.Shared

<h3>BookReadDtos</h3>

<ul>
    @if (_books == null)
    {
        <li>Loading...</li>
    }
    else
    {
        @foreach (var book in _books)
        {
            <li>@book.Title by @book.Author (@book.Year)</li>
        }
    }
</ul>

@code {
    private List<BookReadDto>? _books;

    protected override async Task OnInitializedAsync()
    {
        _books = await Http.GetFromJsonAsync<List<BookReadDto>>("api/Books");
    }
}